*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    /*background-image: url('../imagens/INRamos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;*/
}

form{
    padding: 10px;
    background-color: blueviolet;
    width: fit-content;
    border-radius: 8px;
}

h1 {
    font-size: 1.5rem;
    color: #000;
    margin-left: 5%;
}

.boxText {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 1.5%;
}

.boxText > i {
    margin-left: 3%;
    margin-right: 2%;
}

.boxText > input[type=text] {
    border: none;
    background-color: transparent;
    width: 100%;
}

.boxSubmit {
    display: flex;
    align-items: center;
    margin-top: 1.5%;
    gap: 15px;
}

.boxSubmit > h5 {
    font-weight: 500;
    font-size: 0.8rem;
}

.boxSubmit > h5 > a {
    text-decoration: none;
    color: #fff;
}

.boxSubmit > h5 > a:hover {
    text-decoration: underline;
}

input[type=submit] {
    border: none;
    border-radius: 15px;
    width: 40%;
}

input {
    padding: 3px;
}

/*.boxText > input[type=text]::placeholder {
    color: #fff;
}*/