*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    /*background-image: url('../imagens/INRamos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;*/
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


form{
    padding: 10px;
    background-color: blueviolet;
    border-radius: 8px;
}

h1 {
    font-size: 1.5rem;
    color: #000;
    margin-left: 5%;
}

.boxText {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.boxText > i {
    margin-left: 3%;
    margin-right: 2%;
}

.boxText > input[type=text] {
    border: none;
    background-color: transparent;
    width: 100%;
}

.boxSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 1.5%;
    gap: 20px;
}

.boxSubmit > h5 {
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
}

.boxSubmit > h5 > a:hover {
    text-decoration: underline;
}

input[type=submit] {
    border: none;
    border-radius: 15px;
    width: 40%;
}

input {
    padding: 3px;
}

/*.boxText > input[type=text]::placeholder {
    color: #fff;
}*/

/*Modal*/
.modal {
    display: none;
    /*Ocupando acima do nosso body*/
    width: 100%;
    height: 100%;
    /*Definindo Posição*/
    position: absolute;
    top: 0;

    /*Personalização*/
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-contend {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 18px;
    border-radius: 15px;
    background-color: #e91d1d;
    position: relative;
    width: 25%;
}

.modal-contend > i {
    position: absolute;
    right: 8px;
    top: 12%;
    color: #fff;
    cursor: pointer;
    /*background-color: #28d62b;*/
    /*border-radius: 5px;*/
}

.modal-contend > p {
    font-size: 1rem;
}



@media screen and (max-width: 360px) {
    .boxSubmit {
        flex-direction: column;
        gap: 4px;
        margin-top: 3%;
    }

    .boxSubmit > h5 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
    }

    .boxSubmit > input[type=submit] {
        width: 100%;
    }
}