*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-image: url('/IMG/ramus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.form{
    padding: 1%;
    background-color: blueviolet;
    width: 25%;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
}

.boxInput {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5%;
    gap: 5px;
}

.boxInput > input[type=text], input[type=submit] {
    width: 90%;
    border: none;
    height: 3vh;
}

/*.boxInput > input[type=text]::placeholder {
    color: #fff;
}*/

.boxInput > input[type=text] {
    background-color: transparent;
}

.boxInput > input[type=text] {
    background-color: transparent;
}

.boxInput > i {
    width: 5%;
    margin-left: 2%;
}