*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    /*background-image: url('../imagens/INRamos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;*/
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


form{
    padding: 10px;
    background-color: blueviolet;
    width: fit-content;
    border-radius: 8px;
}

h1 {
    font-size: 1.5rem;
    color: #000;
    margin-left: 5%;
}

.boxText {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 2%;
}

.boxText > i {
    margin-left: 3%;
    margin-right: 2%;
}

.boxText > input[type=text] {
    border: none;
    background-color: transparent;
    width: 100%;
}

.boxSubmit {
    display: flex;
    align-items: center;
    margin-top: 1.5%;
    gap: 15px;
}

.boxSubmit > h5 {
    font-weight: 500;
    font-size: 0.8rem;
}

.boxSubmit > h5 > a {
    text-decoration: none;
    color: #fff;
}

.boxSubmit > h5 > a:hover {
    text-decoration: underline;
}

input[type=submit] {
    border: none;
    border-radius: 15px;
    padding: 3px;
    width: 40%;
}

input {
    padding: 3px;
}

/*.boxText > input[type=text]::placeholder {
    color: #fff;
}*/

/*Modal*/
.modal {
    display: none;
    /*Centralizar acima do formulário*/
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    /*Personalização*/
    width: 30%;
}

.modal-contend {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 18px;
    border-radius: 15px;
    background-color: #858585;
    
    position: relative;
    width: 100%;
}

.modal-contend > i {
    position: absolute;
    right: 8px;
    top: 12%;
    color: #fff;

    /*background-color: #28d62b;*/
    /*border-radius: 5px;*/
}

.modal-contend > p {
    font-size: 1rem;
}

@media screen and (max-width: 630px) {
    .modal {
        width: 90%;
    }
}