/*
#FFFFFF
#00171f
#003459
#007EA7
#00A8E8
*/

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #003459;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00394F;
}

/*
Marcações de localização

pt-5{
    background-color: brown;
}

.py-5{
    background-color: green;
}
*/

.primary{
    background-color: #00394F;
}

.secondary{
    background-color: #007EA7;
}

.bg-primary{
    background-color: #007EA7;
}

.text-primary {
    color: #007EA7 !important;
}

.text-segundary {
    color: #fff;
}

.btn-outline-primary {
    color: #00394F;
    border-color: #fff;
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  

/*.text-primary {
    color: red !important;
}*/
  
/*a.text-primary:hover, a.text-primary:focus {
   color: red !important;
}*/

.navbar-light .navbar-nav .nav-link:hover {
  color: #007EA7;
}

.navbar-light .navbar-nav .nav-link {
    padding: 30px 15px;
    color: #003459;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #001d29;
    border-color: #001d29;
}
  
.btn-primary:hover {
    color: #fff;
    background-color: #003459;
    border-color: #00394F;
}

.text-white {
    color: #fff !important;
}

.btn-secondary {
    color: #fff;
    background-color: #001d29;
    border-color: #00141c;
}
  
.btn-secondary:hover {
    color: #fff;
    background-color: #003459;
    border-color: #00394F;
}


/*Divisão dos 6 Cards**/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-4 {
    flex: 33.33333%;
    max-width: 33.33333%;
}

.img_banner{
    max-width: 78%;
}

.col-lg-13 {
    flex: 33.33333%;
    max-width: 16.66666666666667%;
}

.h4-style{
    margin-bottom: 0.5%;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30%;
    margin-left: 30%;
}

.col-lg-14 {
    max-width: 50%;
}

.mb-4,
.my-4 {
  margin-bottom: 1rem !important;
}

.pt-5,
.py-5 {
  padding-top: 1rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.10rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 0.8;
}

.mb-5,
.my-5 {
  margin-bottom: 1rem !important;
}

.title_text{
    line-height: 100%;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-7{
    padding: 1.5rem 2rem 2rem 2rem !important;
}

.p-6 {
    padding: 0.75rem 0.75rem 0.75rem 1.5rem !important;
}

.text-sub {
    font-family: Arial, Helvetica, sans-serif;
}

.font-s-95rem{
    font-size: 0.95rem;
}

.font-s-100{
    font-size: 1rem;
}

.col-lg-15 {
    flex: 50%;
    max-width: 50%;
}

.forms-radio {
    margin-left: 1.5rem;
    margin-right: 25%;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}

.pr-lg-5,
.px-lg-5 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
}

.card-header:first-child {
    border-radius: 10px 10px 0 0;
}

.card-footer:last-child {
    border-radius: 0 0 10px 10px;
}

.margin-1{
    margin: 1.5%;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.p-5 {
    padding: 3rem !important;
    border-radius: 10px;
}

.border-item {
    border-radius: 20px;
}

.bg-white {
    background-color: #fff !important;
}

/*.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}*/

.img_banner_leitura{
    width: 100%;
}

h4, .h4 {
    font-size: 1.5rem;
  }
  
  @media (max-width: 1200px) {
    h4, .h4 {
      font-size: calc(1.275rem + 0.3vw) ;
    }
  }

@media (max-width: 990px) {
    .col-lg-13 {
        flex: 33.33333%;
        max-width: 33.333333%;
    }

    .row1 {
        display: flex;
        flex-wrap: wrap;
        margin-right: 20%;
        margin-left: 20%;
    }

    .col-lg-4 {
        flex: 100%;
        max-width: 100%;
    }

}

@media (max-width: 540px) {
    .col-lg-13 {
        flex: 50%;
        max-width: 50%;
    }

    .row1 {
        margin-right: 0;
        margin-left: 0;
    }
    .col-lg-14{
        max-width: 50%;
    }
}

@media (max-width: 400px) {
    .col-lg-13 {
        flex: 100%;
        max-width: 100%;
    }

    .col-lg-14{
        max-width: 100%;
    }
}